/* Text Colors */
.text-primary {
  color: #e63946;
}

.text-secondary {
  color: #457b9d;
}

/* Button Styles */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #f1faee;
  background-color: #e63946;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background: #457b9d;
  color: #f1faee;
}

.btn-secondary,
.bg-secondary {
  background: #457b9d;
  color: #f1faee;
}

.btn-dark,
.bg-dark {
  background: #1d3557;
  color: #f1faee;
}

.btn-light,
.bg-light {
  background: #f1faee;
  color: #1d3557;
}

.btn-outline {
  background: transparent;
  border: 1px solid #f1faee;
}

/* Flex Items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */
.flex-columns.flex-revers .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
